<!DOCTYPE html>
<html lang="en" ng-strict-di>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <base href="/">
    <title>MEAN.TS</title>
    <meta name="description" content="{{description}}">
    <meta name="fragment" content="!">

    <!-- Fav Icon -->
    <link href="{{favicon}}" rel="shortcut icon" type="image/x-icon">

    <!-- Application CSS Files -->
    {{#each cssFiles}}<link rel="stylesheet" href="{{this}}">{{/each}}
</head>

<body class="ng-cloak">
    {{{block "content"}}}

    <!--Application JavaScript Files-->
    {{#each jsFiles}}<script type="text/javascript" src="{{this}}"></script>{{/each}}

    {{#if systemConfig}}
    <script>
        (function () {
            System.config({{{systemConfig}}});
            System.import('core').catch(err => console.log(err));
        }());
    </script>
    {{/if}}

    {{#if livereload}}
    <!--Livereload script rendered -->
    <script type="text/javascript" src="{{host}}:35729/livereload.js"></script>
    {{/if}}
</body>

</html>
